*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-selector-container{
    display: flex;
    justify-content: center; 
    padding-top: 20px;
    gap: 20px;
}
.game-selector-container *{
    font-size: 28px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.game-field-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 25vh 25vw; */
    width: 600px;
    height: 600px;
    border: solid black 2px;
    background-color: bisque;
    gap: 2px;
    justify-content: center;
    padding: 10px;
}

.game-field-container__cell {
    /* transition: 2s; */
    /* width: 23%; */
    aspect-ratio: 1/1;
    font-size: 72px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    border: solid black 3px;
    border-radius: 30px;
}

.game-field-container__cell_empty {
    background-color: bisque;
    border: solid black 0px;
    z-index: -1;
}

.stat-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;
}

.stat-container__variation {
  width: 350px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.stat-container__variation h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.man-and-attempts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.man-and-attempts h1 {
  margin-right: 10px;
}

.man-and-attempts div {
  padding: 5px 10px;
  background-color: #dcdcdc;
  border-radius: 10px;
}